.dialog-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #64646480;
  display: none;

}
.ticket-dialog {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(145deg, #f0f0f0, #ececec);
  box-shadow:  2px 2px 5px #979797,
               -5px -5px 5px #ffffff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d9d9;
}
.heading-2{
  color: rgb(42, 53, 71);


}
.backbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: rgb(42, 53, 71);

}
.backbtn :hover {
  color: #29277a;
}

.dialog-container.open {
  display: block;
}
.dialog-container.close {
  display: hidden;
}

.dialog-content {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: rgb(42, 53, 71);
  font-family: "Plus Jakarta Sans", sans-serif;

}

.internalInput,
select {
 padding: 8px;
 margin-bottom: 16px;
 border: 1px solid #c8c8c8;
 border-radius: 4px;
 background-color: #ededed;
 color: rgb(42, 53, 71);
 width: 100%; /* Add this line */
 box-sizing: border-box; /* Add this line */
}

button:hover {
  background-color: #ededed;
}

.sub-btn {
  border-radius: 8px;
  background: rgb(93, 135, 255);
  opacity: 1;
  padding: 10px;
  height: 35px;
  color: white;
  width: 80px;
   box-shadow: 3px 3px 1px #bebebe,
  -1px -2px 1px #ffffff;
}
.sub-btn:hover {
  background: rgb(93, 135, 255);
}

.sub-btn:active{
  box-shadow: 1px 1px 1px #bebebe,
  1px 2px 1px #ffffff;
}