/* TicketList.css */

.tlist-container {
  font-family: "Inter", sans-serif;
}
.tlist-heading {
  padding: 20px 40px;
  margin: 19px 40px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(42, 53, 71);
  border-radius: 8px;
  background-color: rgb(232, 247, 255);
}
.react-datepicker__close-icon{
  position: absolute;
  right: 13px;
  top: 1%;
}
.react-datepicker__close-icon:hover{
background-color: transparent;
}
.filters {
  padding: 20px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ticklistinpu,
select {
  padding: 8px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: #ededed;
  color: rgb(42, 53, 71);
  width: 300px;
  box-sizing: border-box;
}

.tlistbody {
  padding: 0px 40px;
  font-family: "Inter", sans-serif;
  overflow-y: auto;
  max-height: 500px;
}

.ticket-list {
  max-width: 100%;

}
.categoryl{
    width: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

.ticket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  /* background-color: #1f1d58; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #3d3cb2; */
  color: rgb(121, 128, 140);

}
.ticket-item:hover {
  background-color: rgb(232, 247, 255);
  color: rgb(42, 53, 71);

}

.ticket-details {
  display: flex;
  align-items: center;
}

.ticket-details img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.booking-controls {
  display: flex;
  align-items: center;
}
.tick-item{
    display: flex;
    gap: 70px;
}
.tick-iconn{
    font-size: 40px;
    width: 80px;
}

input{
  width: 50px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white !important;
}

select {
  background: white;
}
.bookbtn {
  border-radius: 8px;
  background: rgb(93, 135, 255);
  opacity: 1;
  padding: 10px;
  height: 35px;
  color: white;
  width: 80px;
   box-shadow: 3px 3px 1px #bebebe,
  -1px -2px 1px #ffffff;
  cursor: pointer;
}

.bookbtn:hover {
  box-shadow: 3px 3px 1px #bebebe,
  -1px -2px 1px #ffffff;
  background: rgb(93, 135, 255);

}
.bookbtn:active{
  box-shadow: 1px 1px 1px #bebebe,
  1px 2px 1px #ffffff;
}
