.user-container {
  font-family: "Inter", sans-serif;
}
.user-heading {
  padding: 20px 40px;
  margin: 19px 40px;
  font-size: 22px;
  font-weight: 700;
  color: rgb(42, 53, 71);
  border-radius: 8px;
  background-color: rgb(232, 247, 255);
}
.tableBody {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  padding: 20px 40px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: rgb(236, 242, 255);
  color: rgb(42, 53, 71);
  font-weight: bold;
}

tbody {
  color: rgb(121, 128, 140);
}

td,
th {
  padding: 10px;
  border: 1px solid #d9d9d9;
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ccc; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
  box-shadow: inset -1px -2px 5px #a3a3a3, 1px 1px 1px #ffffff;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(25, 222, 187); /* Green color for active status */
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
